* {
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            justify-content: space-between;
            margin: 15px;
        }

        .logo span {
            padding: 10px;
            border-radius: 30%;
            font-weight: bold;
            background-color: black;
            color: yellow;
        }

        .content {
            margin-left: 42px;
            font-size: 10px;
        }

        .about {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .about svg{
            margin-right: 15px;

        }
        .about a {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-decoration: none;
            font-size: 18px;
            color: rgb(193, 2, 2);
        }
        .down{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px 0px;
            margin: 60px;
            font-family: sans-serif;
            
        }
        .down p{
            font-size: 19px;
            text-align: center;
        }

        .down button{
            background-color: aqua;
            border-radius: 7px;
            padding: 9px;
        }
        .down span{
            font-size: 40px;
        }
        .lang{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
            grid-template-rows: auto;
            gap: 35px 40px;
            justify-items: center;
            
        }
        .langs{
            height: 100px;
            width: 300px;
            background-color: antiquewhite;
            text-align: center;
            border-radius: 15px;
            transition: all 1s  linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%) 0.3s;
        }
        .langs button{
            padding: 5px;
            border-radius: 10px;
            margin-top: 25px;
            
        }
        .langs button:nth-child(2){
            background-color: rgb(55, 187, 223);
        }
        .langs button:nth-child(3){
            background-color: rgb(236, 244, 14);
        }
        .langs:hover{
            transform: scale(1.05);
            background-color: brown;
            padding: 30px;
        }